Use .. for open date ranges where there is only one

Single date+time, or a range ('/' seperator), formatted to RFC 3339, section 5.6. Use double dots .. for open date ranges.

https://github.com/cedadev/archive-opensearch/blob/3d35ccabf192001fc0b3501702342a4336e6041a/django_opensearch/opensearch/backends/elasticsearch/facets/base.py#L124